src/META-INF/wsdl/localhost_8080/calcws.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculadorawebservice.ipli.tsi.ifms.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculadorawebservice.ipli.tsi.ifms.br/" name="CalculadoraWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://calculadorawebservice.ipli.tsi.ifms.br/" schemaLocation="http://localhost:8080/calcws?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getMulti">
<part name="parameters" element="tns:getMulti"></part>
</message>
<message name="getMultiResponse">
<part name="parameters" element="tns:getMultiResponse"></part>
</message>
<message name="getSoma">
<part name="parameters" element="tns:getSoma"></part>
</message>
<message name="getSomaResponse">
<part name="parameters" element="tns:getSomaResponse"></part>
</message>
<message name="getDivisao">
<part name="parameters" element="tns:getDivisao"></part>
</message>
<message name="getDivisaoResponse">
<part name="parameters" element="tns:getDivisaoResponse"></part>
</message>
<message name="getSub">
<part name="parameters" element="tns:getSub"></part>
</message>
<message name="getSubResponse">
<part name="parameters" element="tns:getSubResponse"></part>
</message>
<portType name="CalculadoraWS">
<operation name="getMulti">
<input wsam:Action="http://calculadorawebservice.ipli.tsi.ifms.br/CalculadoraWS/getMultiRequest" message="tns:getMulti"></input>
<output wsam:Action="http://calculadorawebservice.ipli.tsi.ifms.br/CalculadoraWS/getMultiResponse" message="tns:getMultiResponse"></output>
</operation>
<operation name="getSoma">
<input wsam:Action="http://calculadorawebservice.ipli.tsi.ifms.br/CalculadoraWS/getSomaRequest" message="tns:getSoma"></input>
<output wsam:Action="http://calculadorawebservice.ipli.tsi.ifms.br/CalculadoraWS/getSomaResponse" message="tns:getSomaResponse"></output>
</operation>
<operation name="getDivisao">
<input wsam:Action="http://calculadorawebservice.ipli.tsi.ifms.br/CalculadoraWS/getDivisaoRequest" message="tns:getDivisao"></input>
<output wsam:Action="http://calculadorawebservice.ipli.tsi.ifms.br/CalculadoraWS/getDivisaoResponse" message="tns:getDivisaoResponse"></output>
</operation>
<operation name="getSub">
<input wsam:Action="http://calculadorawebservice.ipli.tsi.ifms.br/CalculadoraWS/getSubRequest" message="tns:getSub"></input>
<output wsam:Action="http://calculadorawebservice.ipli.tsi.ifms.br/CalculadoraWS/getSubResponse" message="tns:getSubResponse"></output>
</operation>
</portType>
<binding name="CalculadoraWSPortBinding" type="tns:CalculadoraWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getMulti">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSoma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDivisao">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSub">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CalculadoraWSService">
<port name="CalculadoraWSPort" binding="tns:CalculadoraWSPortBinding">
<soap:address location="http://localhost:8080/calcws"></soap:address>
</port>
</service>
</definitions>